@keyframes menu-buttons {
    to {
        opacity: 0.6;
    }
}

@keyframes header-decor-element {
    from {
        right: 0;
    }
    
    50% {
        right: 4px;
    }

    to {
        right: 0;
    }
}

@keyframes button {
    to {
        box-shadow: 2px 2px 0px 0px var(--text-color);
    }
}

@keyframes icon-focus {
    to {
        border: 2px solid var(--text-color);
    }
}

@keyframes heart {
    to {
        transform: scale(1.5);
        transform-origin: center;
    }
}

@keyframes heart-sparks {
    to {
        opacity: 1;
    }
}

@keyframes blues {
    to {
        filter: hue-rotate(315deg);
    }
}