@keyframes header-decor-element {
    from {
        right: 0;
    }
    
    50% {
        right: 4px;
    }

    to {
        right: 0;
    }
}

@keyframes icon-focus {
    to {
        border: 2px solid var(--text-color);
    }
}

@keyframes heart {
    to {
        transform: scale(1.5);
        transform-origin: center;
    }
}

.sparks {
    opacity: 0;
  }

@keyframes heart-sparks {
    to {
        opacity: 1;
    }
}

@keyframes blues {
    to {
        filter: hue-rotate(315deg);
    }
}