/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--main-font), sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  background-image: 
    repeating-linear-gradient(
      var(--repeat-gradient) 0,
      var(--repeat-gradient) 2px,
      var(--transparent-gradient) 2px,
      var(--transparent-gradient) 4px
    ),
    repeating-linear-gradient(
      90deg,
      var(--repeat-gradient) 0,
      var(--repeat-gradient) 2px,
      var(--transparent-gradient) 2px,
      var(--transparent-gradient) 4px
    ),
    linear-gradient(
      var(--linear-gradient-color-first) , var(--linear-gradient-color-second)
    );
  background-size: cover;
}

.header,
.card {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  width: 48.4vw;
  height: 100%;
  margin-block-start: 100px;
  border: 2px solid var(--text-color);
}

.header {
  font-family: var(--accent-font), sans-serif;
  align-items: center;
  margin-block-start: 100px;
  padding-block-start: 136px;
  padding-block-end: 25px;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-block-end: 20px;
}

.header__text {
  font-size: 23px;
  text-transform: uppercase;
  margin-block-end: 20px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-inline-start: 10px;
  gap: 10px;
}

.theme-menu__button {
  cursor: pointer;
  background-color: transparent;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
}

.theme-menu__button:disabled {
  pointer-events: none;
  animation: menu-buttons 0.3s ease forwards;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  opacity: 0.6;
  left: -100px;
  animation: header-decor-element 1s ease-in-out infinite;
}

.theme-menu__button:hover {
  animation: menu-buttons 0.3s ease forwards;
}

.theme-menu__button:focus-visible {
  animation: menu-buttons 0.3s ease forwards;
}

.theme-menu__button:after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--text-color);
  margin-top: 2px;
  transition: width 0.3s;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
  animation: menu-buttons 0.3s ease forwards;
}

.card {
  padding-block: 25px;
  gap: 25px;
  font-size: 18px;
}

.card__title {
  font-weight: var(--wdth-title);
  margin-inline: 25px;
}

.card__image {
  background-image: url(../images/image-bus.png);
  width: 100%;
  height: clamp(371px, 696px, 696px);
  background-size: contain;
  background-repeat: no-repeat;
}

.card__text {
  font-weight: var(--wdth-text);
  margin-inline: 25px;
}

.like {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-self: flex-end;
}  

.button {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  font-family: var(--accent-font);
  font-size: 14px;
  background-color: var(--background-color);
  border: 2px solid var(--text-color);
}


.button::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 99%;
  background-color: var(--button-hover-background-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  mix-blend-mode: difference;
}

.button:hover::after {
  transform: scaleX(1);
}

.button__text {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.card__like-button {
  width: 96px;
  align-items: center;
  justify-content: center;
  margin-inline-end: 25px;
}

.card__icon-button {
  width: 45px;
  height: 36px;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__icon-button:focus-visible {
  animation: icon-focus 0.3s ease forwards;
}

.like-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sparks {
  opacity: 0;
}

.like-icon > g:nth-child(1) > .heart > .core {
  fill: var(--background-color);
  transition: fill 0.3s 0.2s linear;
}

.like-icon > g:nth-child(1) > .heart .main-body {
  fill: var(--background-color);
  transition: fill 0.3s linear;
}

.like-icon > g:nth-child(1) > .heart .contour {
  fill: var(--text-color);
  transition: fill 0.3s linear 0.4s;
}

.like-icon:hover > g:nth-child(1) > .heart > .core {
  fill: var(--text-color);
  transition: fill 0.3s linear;
}

.like-icon:hover > g:nth-child(1) > .heart > .main-body {
  fill: var(--text-color);
  transition: fill 0.3s 0.2s linear;
}

.like-icon:active > g:nth-child(1) > .heart > .core {
  fill: var(--main-body-heart-color);
}

.like-icon:active > g:nth-child(1) > .heart > .main-body {
  fill: var(--main-body-heart-color);
}

.is-liked > g:nth-child(1) > .heart > .core{
  fill: var(--main-body-heart-color);
}

.is-liked > g:nth-child(1) > .heart > .main-body{
  fill: var(--main-body-heart-color);
}

.is-liked > g:nth-child(1) > .heart > .contour{
  fill: var(--main-body-heart-color);
}

.is-liked > g:nth-child(1) > .heart {
  animation: heart 0.3s ease-in 0.1s;
}

.is-liked > g:nth-child(1) > .sparks {
  animation: heart-sparks 0.3s ease-in 0.3s;
}

.is-liked:hover > g:nth-child(1) > .heart > .core{
  fill: var(--main-body-heart-color);
}

.is-liked:hover > g:nth-child(1) > .heart > .main-body{
  fill: var(--main-body-heart-color);
}

.is-liked:hover > g:nth-child(1) > .heart > .contour{
  fill: var(--main-body-heart-color);
  translate: fill 0.3s linear;
}

.footer__button {
  margin-block: 55px;
  min-width: 335px;
  min-height: 51px;
}

.button:focus-visible {
  animation: button 0.3s ease forwards;
}

.floppy {
  width: 21px;
  height: 21px;
  fill: var(--text-color);
}

.dialog {
  max-width: 357px;
  padding: 32px;
  border: 2px solid var(--text-color);
  background-color: var(--background-color);
  color: var(--text-color);
}

.dialog::backdrop {
  background-color: #000;
  opacity: 0.75;
}

.dialog__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.dialog__text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 150%;
  width: 234px;
}

.dialog__floppy {
  width: 39px;
  height: 39px;
  fill: var(--text-color);
  align-self: center;
}

.dialog__button {
  width: 100%;
  height: 38px;
  margin-block-start: 30px;
}

@media (width <= 375px) {
  .header,
  .card {
    width: 100vw;
  }
}