/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--main-font), sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  background-image: 
    repeating-linear-gradient(
      var(--repeat-gradient) 0,
      var(--repeat-gradient) 2px,
      var(--transparent-gradient) 2px,
      var(--transparent-gradient) 4px
    ),
    repeating-linear-gradient(
      90deg,
      var(--repeat-gradient) 0,
      var(--repeat-gradient) 2px,
      var(--transparent-gradient) 2px,
      var(--transparent-gradient) 4px
    ),
    linear-gradient(
      var(--linear-gradient-color-first) , var(--linear-gradient-color-second)
    );
  background-size: cover;
}

.header,
.card {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  width: clamp(375px, 100vw, 700px) /*48.4vw*/;
  border: 2px solid var(--text-color);
}

.header {
  font-family: var(--accent-font), sans-serif;
  align-items: center;
  padding-block-start: 136px;
  padding-block-end: 20px;
  margin-block: 100px;
}

.header__title {
  font-size: clamp(3.063rem, 1.941rem + 4.848vw, 4.063rem);
  margin-block-end: 20px;
}

.header__text {
  font-size: 23px;
  text-transform: uppercase;
  margin-block-end: 23px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-inline-start: 20px;
  gap: 10px;
}

.theme-menu__button {
  cursor: pointer;
  background-color: transparent;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
}

.theme-menu__button:disabled {
  pointer-events: none;
  animation: menu-buttons 0.3s ease forwards;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  opacity: 0.6;
  left: -85px;
  animation: header-decor-element 1s ease-in-out infinite;
}

.theme-menu__button:hover {
  animation: menu-buttons 0.3s ease forwards;
}

.theme-menu__button:focus-visible {
  animation: menu-buttons 0.3s ease forwards;
}

.theme-menu__button:after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--text-color);
  transition: width 0.3s;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
  animation: menu-buttons 0.3s ease forwards;
}

.card {
  margin-block-end: 45px;
}

.card__title {
  font-weight: var(--wdth-title);
  font-size: 18px;
  margin-inline: 10px;
  margin-block-start: 8px;
  margin-block-end: 3px;
}

.card__image {
  display: flex;
  flex-direction: row-reverse;
  border-block: 2px solid var(--text-color);
}

.card__image-text {
  position: absolute;
  font-family: var(--accent-font);
  font-size: 14px;
  color: var(--image-text);
  mix-blend-mode: hard-light;
  text-shadow: 0 0 2px var(--image-text-shadow);
  z-index: 2;
  margin: 25px;
}

.card__image-img {
  position: relative;
  width: 100%;
  z-index: 0;
}

.card__text {
  font-weight: var(--wdth-text);
  font-size: 18px;
  line-height: 116.667%;
  margin-inline: 25px;
  margin-block-start: 25px;
}

.card__text-my-text {
  margin-block-start: 30px;
}

.like {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-self: flex-end;
  margin: 25px;
}  

.button {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: var(--wdth-text);
  background-color: var(--background-color);
  border: 2px solid var(--text-color);
}


.button::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--button-hover-background-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  mix-blend-mode: difference;
}

.button:hover::after {
  transform: scaleX(1);
}

.button__text {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.card__like-button {
  width: 130px;
  align-items: center;
  justify-content: center;
}

.card__icon-button {
  width: 50px;
  height: 40px;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__icon-button:focus-visible {
  animation: icon-focus 0.3s ease forwards;
}

.like-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sparks {
  opacity: 0;
}

.like-icon > g:nth-child(1) > .heart > .core {
  fill: var(--background-color);
  transition: fill 0.3s 0.2s linear;
}

.like-icon > g:nth-child(1) > .heart .main-body {
  fill: var(--background-color);
  transition: fill 0.3s linear;
}

.like-icon > g:nth-child(1) > .heart .contour {
  fill: var(--text-color);
  transition: fill 0.3s linear 0.4s;
}

.like-icon:hover > g:nth-child(1) > .heart > .core {
  fill: var(--text-color);
  transition: fill 0.3s linear;
}

.like-icon:hover > g:nth-child(1) > .heart > .main-body {
  fill: var(--text-color);
  transition: fill 0.3s 0.2s linear;
}

.like-icon:active > g:nth-child(1) > .heart > .core {
  fill: var(--main-body-heart-color);
}

.like-icon:active > g:nth-child(1) > .heart > .main-body {
  fill: var(--main-body-heart-color);
}

.is-liked > g:nth-child(1) > .heart > .core {
  fill: var(--main-body-heart-color);
}

.is-liked > g:nth-child(1) > .heart > .main-body {
  fill: var(--main-body-heart-color);
}

.is-liked > g:nth-child(1) > .heart > .contour {
  fill: var(--main-body-heart-color);
}

.is-liked > g:nth-child(1) > .heart {
  animation: heart 0.3s ease-in 0.1s;
}

.is-liked > g:nth-child(1) > .sparks {
  animation: heart-sparks 0.3s ease-in 0.3s;
}

.is-liked:hover > g:nth-child(1) > .heart > .core {
  fill: var(--main-body-heart-color);
}

.is-liked:hover > g:nth-child(1) > .heart > .main-body {
  fill: var(--main-body-heart-color);
}

.is-liked:hover > g:nth-child(1) > .heart > .contour {
  fill: var(--main-body-heart-color);
  translate: fill 0.3s linear;
}

.footer__button {
  margin-block-end: 105px;
  width: 335px;
  min-height: 51px;
}

.button:focus-visible {
  animation: button 0.3s ease forwards;
}

.floppy {
  width: 21px;
  height: 21px;
  fill: var(--text-color);
}

.dialog {
  max-width: 357px;
  padding: 32px;
  border: 2px solid var(--text-color);
  background-color: var(--background-color);
  color: var(--text-color);
}

.dialog::backdrop {
  background-color: #000;
  opacity: 0.75;
}

.dialog__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.dialog__text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 150%;
  width: 234px;
}

.dialog__floppy {
  width: 39px;
  height: 39px;
  fill: var(--text-color);
  align-self: center;
}

.dialog__button {
  width: 100%;
  height: 38px;
  margin-block-start: 30px;
}

@media (width <= 376px) {
  .header {
    padding-block-start: 120px;
  }

  .header__text {
    font-size: 14px;
  }

  .card__image-text {
    margin-block-start: 23px;
    margin-inline-end: 11px;
  }

  .card__text,
  .like {
    margin-inline-end: 28px;
  }

  .button__text {
    display: flex;
    flex-direction: column;
  }

  .footer__button {
    width: 310px;
    height: 85px;
  }

  .floppy {
    width: 28px;
    height: 28px;
  }
}

.clear-list {
  filter: sepia(100%);
  transition: filter 0.5s;
}

.clear-list:hover {
  filter: sepia(20%);
}

.monster {
  filter: blur(7px);
  transition: filter 0.7s;
}

.monster:hover {
  filter: none;
}

.books {
  filter: grayscale(10);
  transition: filter 1.5s;
}

.books:hover {
  filter: none;
}

.blues:hover {
  animation: blues 5s linear forwards;
  transition: filter 5s;
}

.Nastya {
  filter: brightness(50%) contrast(140%);
  transition: filter 1.5s;
}

.Nastya:hover {
  filter: brightness(150%) contrast(110%);
}

.autumn {
  filter: invert(80%) sepia(75%) contrast(60%);
  transition: filter 1.5s;
}

.autumn:hover {
  filter: none;
}

.brick {
  filter: contrast(5%);
  transition: filter 1.8s;
}

.brick:hover {
  filter: none;
}

.chess {
  transition: filter 3s;
}

.chess:hover {
  filter: invert(100%);
}